@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;


}

body {
    font-family: 'Prosto One', cursive;
    font-weight: 200;

}

/*headings hero and logo*/
#cover-text {
    font-size: 130%;
    font-family: 'Prosto One', cursive;
    text-transform: capitalize;
    letter-spacing: 4px;

    width: 400px;
    height: 150px;

    padding-top: 40px;
    padding: right 30px;

    background-color: rgba(51, 156, 243, 0.4);

    bottom: 30px;
    left: 30px;

    position: absolute;
    border: 1px solid rgba(51, 156, 243, 0.4);
    border-radius: 5px;


}


h1,
h2 {
    font-family: 'Prosto One', cursive;
    text-transform: uppercase;
    text-decoration: underline;

}

#main-logo {
    color: darkslategray;
    float: left;
    font-size: 250%;
    margin-left: 30px;


}

/*nav*/

#menu {
    font-weight: 300;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    margin-right: 30px;


}

#menu,
#main-logo {
    line-height: 75px;

}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px inset darkslategray;
}

header {

    font-family: 'Prosto One', cursive;
    color: royalblue;
    text-align: center;
}

/*benefits*/

.whole-benefits-section {

   background-image: url(../images/blue\ ripple.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   overflow: hidden;

}


#ben-head {

    text-decoration: underline;
    color: darkslategray;
    text-transform: capitalize;
    font-size: 250%;
    padding-bottom: 30px;
    text-align: center;
}




#benefits-div {
    float: right;
    padding-right: 30px;
    width: 33%;
}

#social-div {

    width: 33%;
    padding-right: 30px;
    margin: 0 auto;
}

#mental-div {
    float: left;
}



/*popular types of yoga*/

#first {

    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#second {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#top-left-types {
    float: left;
}



/*footer*/

footer {
    height: 150px;

}

.social-net {
    text-align: center;
}

.social-net>li {
    display: inline;
}

.social-net i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/*media queary/response*/

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
    }

}

/*form*/

#formbg {
    background-image: url("../images/benefits\ background.jpg sky\ yoga.jpeg");
    width: auto;
    height: 600px;
}

#cover-text2 {
    font-size: 130%;
    font-family: 'Prosto One', cursive;
    text-transform: capitalize;
    letter-spacing: 4px;

    width: 400px;
    height: 150px;

    padding-top: 40px;
    padding: right 30px;

    background-color: rgba(255, 160, 122, 0.6);
    bottom: 20px;
    left: 30px;

    position: absolute;
    border: 5px solid rgba(51, 156, 243, 0.4);
    border-radius: 5px;


}