@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;


}

body {
    font-family: 'Prosto One', cursive;
    font-weight: 200;

}

/*headings hero and logo*/


h1, h2 {
    font-family: 'Prosto One', cursive;
    text-transform: uppercase;
    text-decoration: underline;

}

#main-logo {
    color: darkslategray;
    float: left;
    font-size: 250%;
    margin-left: 30px;
    
    
}

/*nav*/

#menu {
    font-weight: 300;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    margin-right: 30px;


}

#menu,
#main-logo {
    line-height: 75px;

}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px inset darkslategray;
}

header {

    font-family: 'Prosto One', cursive;
    color: royalblue;
    text-align: center;
}

/*club-ethos*/

#club-ethos{
    border: 5px solid blue;
    border-radius: 25px;
    height: 300px;
}

#left-about {
    padding-top: 30px;
    padding-left: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

/*popular types of yoga*/

#types {
    padding-top: 30px;
    padding-left: 30px;
    width: 100%;
    margin-left: 30px;
    margin-top: 30px;

}







/*footer*/

footer {
    height: 150px;

}

.social-net {
    text-align: center;
}

.social-net > li {
    display: inline;
}

.social-net i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}